<!-- Content -->
<div class="row">
  <div class="col-lg-12">
    <div class="cs-activity_wrap cs-box_shadow cs-white_bg">
      <h2 class="cs-section_heading cs-style1">Create Car</h2>
      <div class="cs-height_45 cs-height_lg_45"></div>
      <div class="cs-activity_list cs-mp0">
        <div class="cs-activity_list cs-mp0">
          <!-- <div class="cs-activity cs-white_bg cs-type1"> -->
          <form [formGroup]="carForm" (ngSubmit)="addCar()" class="row cs-activity cs-gray_bg">

            <div class="col-lg-6">
              <!--<label class="cs-form_label">Car Brand:</label>-->
              <div class="cs-form_field_wrap">
                <input type="text" class="cs-form_field" placeholder="Car Brand" id="carBrand"
                  formControlName="carBrand" name="carBrand">
              </div>
              <div class="cs-height_20 cs-height_lg_20"></div>

              <!--<label class="cs-form_label">Car Model</label>-->
              <div class="cs-form_field_wrap">
                <input type="text" class="cs-form_field" placeholder="Car Model" id="carModel"
                  formControlName="carModel" name="carModel">
              </div>
              <div class="cs-height_20 cs-height_lg_20"></div>
            </div>

            <div class="col-lg-6">
              <span class="cs-btn cs-style2 cs-btn_lg w-100">
                <span class="text-left">
                  <i class="fas fa-brush"></i>
                  <span>Car Color</span>
                  <input type="color" placeholder="Car Color" id="carColor" formControlName="carColor" name="carColor">
                </span>
              </span>
              <div class="cs-height_20 cs-height_lg_20"></div>

              <!--<label class="cs-form_label">Car Seats</label>-->
              <div class="cs-form_field_wrap">
                <input type="number" class="cs-form_field" placeholder="Car Seats" id="carSeats"
                  formControlName="carSeats" name="carSeats">
              </div>
              <div class="cs-height_20 cs-height_lg_20"></div>
            </div>

            <div class="col-lg-12">
              <div class="cs-height_30 cs-height_lg_30"></div>
              <button class="cs-btn cs-style1 cs-btn_lg" [disabled]="carForm.invalid" type="submit"><span>Add
                  Car</span></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>