<app-header></app-header>
<div class="cs-height_100 cs-height_lg_80"></div>
<div class="cs-height_100 cs-height_lg_80"></div>
<div class="cs-height_50 cs-height_lg_80"></div>
<div class="container">
  <h2 class="cs-form_title text-center">Verify Your Account</h2>
  <p class="cs-form_title text-center">We have sent you an email containing the code needed to complete your
    registration steps.</p>

  <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()" class="text-center mt-5">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control w-25 m-auto" id="email" formControlName="email">
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors?.['required']">
          Email is required
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="otp" class="form-label">OTP code</label>
      <input type="text" class="form-control w-25 m-auto" id="otp" formControlName="otp">
      <div *ngIf="submitted && f['otp'].errors" class="invalid-feedback">
        <div *ngIf="f['otp'].errors?.['required']">
          OTP code is required
        </div>
      </div>
    </div>

    <div class="mb-3">
      <button type="button" class="btn btn-secondary" (click)="regenerateToken()">Regenerate OTP Code</button>
    </div>

    <button [disabled]="!verifyForm.valid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="cs-height_100 cs-height_lg_80"></div>
<div class="cs-height_100 cs-height_lg_80"></div>
<div class="cs-height_100 cs-height_lg_80"></div>
<div class="cs-height_20 cs-height_lg_80"></div>
<app-footer></app-footer>