<div class="cs-height_30 cs-height_lg_30 px-5"></div>
<div class="row">
  <div class="col-lg-12">
    <div class="cs-activity_wrap cs-box_shadow cs-white_bg">
      <h2 class="cs-section_heading cs-style1">Check Your Ride Applications</h2>
      <div class="cs-height_45 cs-height_lg_45"></div>
      <ul class="cs-activity_list cs-mp0">
        <li *ngFor="let ride of rides ;let i=index">
          <div class="cs-activity cs-gray_bg">


            <div class="cs-activity_avatar mr-3">
              <div *ngIf="ride.statusRideRequest === 'ACCEPTED'">
                <img src="assets/img/status_ride/accepted.png" alt="ACCEPTED">
                <div style="text-align: center;">
                  ACCEPTED
                </div>
              </div>

              <div *ngIf="ride.statusRideRequest === 'DECLINED'">
                <img src="assets/img/status_ride/declined.png" alt="COMPLETED">
                <div style="text-align: center;">
                  DECLINED
                </div>
              </div>

              <div *ngIf="ride.statusRideRequest === 'PENDING'">
                <img src="assets/img/status_ride/active.png" alt="PENDING">
                <div style="text-align: center;">
                  PENDING
                </div>
            </div>

            </div>
            <div class="cs-activity_right">
              <p class="cs-activity_text">Departure: <span>{{ ride.departureLocation }} </span> | Destination <span>{{
                ride.destinationLocation }}</span> <b> | at {{ ride.departureDate | date:'short' }}</b></p>
              <p class="cs-activity_posted_by">Request at <b style="color:yellowgreen">{{ ride.requestDate|
                date:'short' }} and this ride is {{ ride.statusRide }}</b>
              </p>
            </div>

            <div class="cs-activity_cancel_button">
              <button (click)="cancelRide(ride)" class="btn btn-danger">Cancel</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="cs-height_50 cs-height_lg_40"></div>
    <!-- Pagination -->
    <div class="clearfix">
      <ul class="pagination">
        <li class="page-item">
          <button (click)="previousPage()" class="page-link">
            Previous
          </button>
        </li>

        <li *ngFor="let number of pages" class="page-item" [ngClass]="{ 'page-item active': currentPage == number }">
          <button (click)="goToPage(number)" class="page-link">
            {{ number }}
          </button>
        </li>

        <li class="page-item">
          <button [disabled]="currentPage >= totalPages" (click)="nextPage()" class="page-link">
            Next
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="cs-height_100 cs-height_lg_70"></div>
