<!-- Content -->
<div class="row">
  <div class="col-lg-12">
    <div class="cs-activity_wrap cs-box_shadow cs-white_bg">
      <h2 class="cs-section_heading cs-style1">Create Ride</h2>
      <div class="cs-height_45 cs-height_lg_45"></div>
      <div class="cs-activity_list cs-mp0">
        <div class="cs-activity_list cs-mp0">
          <!-- <div class="cs-activity cs-white_bg cs-type1"> -->
          <form [formGroup]="rideForm" (ngSubmit)="addRide()" class="row cs-activity cs-gray_bg">

            <div class="col-lg-6">
              <!--<label class="cs-form_label">Departure Location:</label>-->
              <div class="cs-form_field_wrap">
                <input type="text" class="cs-form_field" placeholder="Departure Location" id="depart"
                  formControlName="depart" name="depart">
              </div>
              <div class="cs-height_20 cs-height_lg_20"></div>
              <!--<label class="cs-form_label">Arrival Location</label>-->
              <div class="cs-form_field_wrap">
                <input type="text" class="cs-form_field" placeholder="Arrival Location" id="arrive"
                  formControlName="arrive" name="arrive">
              </div>
              <div class="cs-height_20 cs-height_lg_20"></div>
              <!--<label class="cs-form_label">Price</label>-->
              <div class="cs-form_field_wrap">
                <input type="number" class="cs-form_field" placeholder="Price" id="price" formControlName="price"
                  name="price">
              </div>
              <div class="cs-height_20 cs-height_lg_20"></div>
            </div>

            <div class="col-lg-6">
              <!--<label class="cs-form_label">Date</label>-->
              <div class="cs-form_field_wrap">
                <span class="cs-btn cs-style2 cs-btn_lg w-100">
                  <span class="text-right">
                    <i class="fas fa-clock"></i>
                    <span>Departure Time</span>
                    <input type="datetime-local" class="cs-form_field" placeholder="Date" id="date"
                      formControlName="date" name="date">
                  </span>
                </span>
              </div>
              <div class="cs-height_20 cs-height_lg_20"></div>

              <!--<label class="cs-form_label">Choose your car</label>-->
              <div class="cs-form_field_wrap cs-select_arrow">
                <select class="cs-form_field" formControlName="carId">
                  <option [ngValue]="null" disabled>Choose your car</option>
                  <option *ngFor="let i of driverCars" value="{{i.id}}">{{i.carBrand}} {{i.carModel}}
                    {{i.carSeats}} seats
                  </option>
                </select>
              </div>
              <div class="cs-height_20 cs-height_lg_20"></div>
            </div>
            <div class="col-lg-12">
              <div class="cs-height_30 cs-height_lg_30"></div>
              <button class="cs-btn cs-style1 cs-btn_lg" [disabled]="rideForm.invalid" type="submit">
                <span>Create your ride</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>